/*
color palette:
khaki - #BFB48F;
light blue - #ACD7EC;
lapis lazuli - #247BA0;
dark slate gray - #2F4858;
quinacridone magenta - #92374D;


DO ZROBIENIA:

- favicon i metadane
- pousuwac komentarze
- przywrocic zdjęcia tak jak były

>pododawać prefixy!!!
>rozwijana lista w portfolio?
>formularz kontaktowy wysyłający poprawnie emaila
>zmniejszyć rozmiary (że wagę) zdjęć CHYBA JEST

linie przed: 1130
linie po: 1017 (z dodaną funkcjonalnością)

*/
*:root
{
  font-size: 12px;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, rgba(47,72,88,0.7), rgba(255,255,255,0), rgba(47,72,88,0.7));
}

p
{
  margin: 0;
  padding: 0;
}

#container
{
  width: 100vw;
}

#move-up
{
  position: fixed;
  bottom: 30px;
  right: 40px;
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

.up-icon
{
  width: 24px;
  height: 24px;
  margin-top: -2px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
}

#landing-page
{
  background-image: url("../img/landing-page-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  box-shadow: -4px 4px 4px rgba(0,0,0,0.4);
}

#container .container-fluid .navbar
{
  text-transform: uppercase;
  height: 100px;
  transition: height 200ms linear;
}

#container .container-fluid
{
  border-bottom: 1px solid rgba(255,255,255,0.4);
  position: fixed;
  z-index: 1;
  transition: background-color 200ms linear;
}

.navbar-brand
{
  font-weight: 300;
  display: flex;
  align-items: center;
  font-size: 24px;
  transition: font-size 200ms linear;
}

.bold-surname
{
  font-weight: 700;
  padding-left: 20px;
}

.my-logo
{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(-90deg, #92374D, #6C2939);
  font-size: 36px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-left: 70px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: height 200ms linear, width 200ms linear, font-size 200ms linear, line-height 200ms linear;
}

.header-surname
{
  display: inline-block;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: white;
  height: 50px;
  line-height: 50px;
  transition: height 200ms linear, line-height 150ms linear;
}

.navbar-collapse
{
  justify-content: flex-end;
  margin-right: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: font-size 200ms linear;
}

.navbar-light .navbar-nav .nav-link
{
  color: white;
  margin-left: 40px;
  padding-left: 0px;
  position: relative;
}

.navbar-light .navbar-nav .nav-link:hover
{
  color: white;
}

.navbar-light .navbar-nav .nav-link::after
{
  content: "";
  width: 0%;
  position: absolute;
  display: block;
  height: 2px;
  background: linear-gradient(to right, #92374D, #247BA0);
  transition: width 150ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::after
{
  content:"";
  width: 96%;
}

.navbar-light .navbar-nav .nav-link:active
{
  color: #ACD7EC;
}

.navbar-light .navbar-nav .nav-link:focus
{
  color: #92374D;
}

.navbar-light .navbar-nav .nav-link.active
{
  color: #ACD7EC;
}

.navbar-light .navbar-nav .nav-link.active::after
{
  display: none;
}

.non-transparent-navbar
{
  background-color: rgba(4,17,23,0.9);
  border-bottom: 0px !important;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.smaller-navbar
{
  height: 60px !important;
}

.smaller-navbar-brand
{
  font-size: 20px !important;
}

.smaller-my-logo
{
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 42px;
}

.smaller-header-surname
{
  height: 40px;
  line-height: 40px;
}

.smaller-navbar-collapse
{
  font-size: 20px;
}

.jumbotron.header
{
  background: transparent;
  text-align: center;
  border: none;
  border-radius: 0;
  padding: 40vh 100px 0px 100px;
}

.header-top-line
{
  font-size: 48px;
  color: white;
  font-weight: 300;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
  letter-spacing: 2px;
}

.header-bottom-line
{
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  padding: 0px 10vw 0px 10vw;
  letter-spacing: 1px;
}

.custom-toggler .navbar-toggler-icon 
{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler 
{
  border-color: rgb(255,255,255);
}

.collapse-show
{
  margin-top: 50px;
}

.navbar-collapse
{
  text-align: center;
}

.collapsing {
  position: relative;
  height: 0 !important;
  overflow: hidden;
  transition: all 250ms ease 0s !important;
}

/*.collapsing {
  -webkit-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;
  width: 100vw;*/
}

/*------------------------ ABOUT ME ------------------------*/

#about
{
  min-height: 100vh;
  background-image: url("../img/about-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-header-container
{
  padding: 100px 10vh 100px 10vh;
}

.section-header
{
  width: 320px;
  margin: 0 auto 0 auto;
  display: block;
  background-image: url("../img/section-header-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

/*------------------------ ABOUT ME LINE ONE ------------------------*/

.small-shown
{
  display: block;
}

.small-shown.large-hidden
{
  display: none;
}

.row-odd
{
  margin-bottom: 40px;
}

.row-odd-left, .row-odd-right
{
  height: 500px;
}

.row-odd-left
{
  padding: 0 20px 0 100px;
}

.row-odd-right
{
  padding: 0 100px 0 20px;
}

.row-header-container
{
  width: 100%;
}

.row-header
{
  font-size: 20px;
  color: #2F4858;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin: 80px auto 20px auto;
  padding: 0px 65px 0px 65px;
  text-align: center;
}

.svg-container
{
  width: 400px;
  height: 50px;
  margin: 0 auto 20px auto;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.row-text
{
  width: 100%;
  font-size: 16px;
  color: #2F4858;
  letter-spacing: 1px;
  padding: 0px 65px 0px 65px;
  text-align: justify;
}

.svg-pencil
{
  margin-top: -5px;
}

.story
{
  background-image: url("../img/about-line-one-line.png");
}

.myself
{
  display: block;
  margin: 0 auto 0 auto;
  height: 500px;
  background: url("../img/me-avatar.jpg") center no-repeat;
  max-width: 393px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*------------------------ ABOUT ME LINE TWO ------------------------*/

.row-even
{
  margin-bottom: 40px;
}

.row-even-left, .row-even-right
{
  height: 500px;
}

.row-even-right
{
  padding-right: 100px;
  padding-left: 20px;
}

.row-even-left
{
  padding-left: 100px;
  padding-right: 20px;
}

.ukw
{
  height: 501px;
  display: block;
  margin: 0 auto 0 auto;
  background: url("../img/ukw.jpg") center no-repeat;
  max-width: 840px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.row-even-header
{
  width: 100%;
}

.svg-graduation
{
  margin-top: 5px;
}

.university
{
  background-image: url("../img/about-line-two-line.png");
}

/*------------------------ ABOUT ME LINE THREE ------------------------*/

#about:nth-child(3)
{
  margin-bottom: 100px;
}

.svg-gear
{
  margin-top: 0px;
}

.electronics
{
  background-image: url("../img/about-line-one-line.png");
}

.pg
{
  display: block;
  margin: 0 auto 0 auto;
  height: 500px;
  background: url("../img/pg.jpg") center no-repeat;
  max-width: 840px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*------------------------ ABOUT ME MY SKILLS ------------------------*/

#my-skills
{
  min-height: 620px;
  border-top: 10px solid #92374D;
  background: linear-gradient(to right, rgba(4,17,23,1), rgba(6,29,39,1), rgba(4,17,23,1));
  box-shadow: -4px 4px 4px rgba(0,0,0,0.4);
}

.skills
{
  background-image: url("../img/my-skills-line.png");
}

.skills-items
{
  padding: 0px 10vw 50px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-item
{
  margin: 50px 75px;
  height: 100px;
  width: 105px;
}

.skill-item > img
{
  display: block;
  height: 100px;
  margin: 0 auto 0 auto;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
}

/*------------------------ PORTFOLIO ------------------------*/

#portfolio
{
  background-image: url("../img/portfolio-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 100px 100px 100px;
}

.portfolio-item-icon
{
  display: block;
  margin: 0 auto 45px auto;
  height: 100px;
}

.portfolio-item-header
{
  text-transform: uppercase;
  font-size: 20px;
  color: #2F4858;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  padding-bottom: 45px;
  letter-spacing: 1px;
}

.portfolio-column
{
  padding: 0 40px 0 40px;
}

.middle
{
  border-left: 1px solid #2F4858;
  border-right: 1px solid #2F4858;
}

.portfolio-item-text
{
  font-size: 14px;
  color: #2F4858;
  text-align: justify;
  padding-bottom: 45px;
  letter-spacing: 1px;
}

.generic-button
{
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto 0 auto;
  background: #92374D;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  letter-spacing: 2px;
  transition: background 150ms ease-in-out;
  border: none;
}

.generic-button:focus
{
  background: #247BA0;
  text-decoration: none;
}

.generic-button:hover
{
  background: #247BA0;
  text-decoration: none;
  color: white;
}

/*------------------------ CERTIFICATE ------------------------*/

#certificate
{
  border-top: 10px solid #BFB48F;
  background: linear-gradient(to right, rgba(4,17,23,1), rgba(6,29,39,1), rgba(4,17,23,1));
  box-shadow: -4px 4px 4px rgba(0,0,0,0.4);
  padding: 100px;
}

.certificate-border
{
  border-right: 1px solid #BFB48F;
}

.certificate-image
{
  background-image: url("../img/certificate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 600px;
  height: 480px;
  display: block;
  margin: 0 auto 0 auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.khaki-text
{
  color: #BFB48F !important;
}

.certificate
{
  background-image: url("../img/my-skills-line.png");
}

/*------------------------ CONTACT ------------------------*/

#contact
{
  background-image: url("../img/contact-background.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 100px 100px 100px;
}

.contact-sub-text
{
  margin-top: -50px;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
  color: #2F4858;
  letter-spacing: 1px;
}

.contact-main-text
{
  font-size: 36px;
  color: #2F4858;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.form-group
{
  margin-bottom: 0px;
}

.form-row
{
  width: 65vw;
  margin: 0 auto 0 auto;
}

.col-xl-4.col-lg-12.contact-col, .row.form-row > .col
{
  padding-left: 15px;
  padding-right: 15px;
}

.contact-form-field, .contact-textarea
{
  display: block;
  width: 100%;
  margin: 0 auto 50px auto;
  background: rgba(255,255,255,0.3);
  border: 2px solid #247BA0;
  font-size: 16px;
  color: #2F4858;
  letter-spacing: 1px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.contact-form-field
{
  border-image: linear-gradient(90deg, #247BA0, #92374D, #247BA0);
  border-image-slice: 1;
  height: 60px;
  padding: 0px 20px 0px 20px;
}

.contact-textarea
{
  border-image: linear-gradient(175deg, #247BA0, #92374D, #247BA0);
  border-image-slice: 1;
  height: 200px;
  padding: 15px 20px 15px 20px;
}

.submit-button
{
  display: block;
  margin: 0 auto 0 auto;
}

/*------------------------ CONTACT ------------------------*/

#footer
{
  min-height: 300px;
  border-top: 10px solid #BFB48F;
  background: linear-gradient(to right, rgba(4,17,23,1), rgba(6,29,39,1), rgba(4,17,23,1));
}

.footer-row-one, .footer-row-two
{
  padding: 0px 10vw 0px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-link
{
  display: block;
  margin: 50px 75px;
}

.footer-icon
{
  display: block;
  font-size: 40px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  color: #BFB48F;
}

.ln:hover
{
  color: #0077B5;
}

.lf:hover
{
  color: #D51007;
}

.fb:hover
{
  color: #3B5998;
}

.gh:hover
{
  color: #C9510C;
}

.cp:hover
{
  color: white;
}

.footer-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
}

.footer-box:nth-child(2)
{
  margin: 0 6vw;
}

.footer-box-icon
{
  font-size: 20px;
  color: #BFB48F;
}

.footer-box-text
{
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #BFB48F;
}

.footer-info
{
  margin-top: 50px;
  text-transform: uppercase;
  color: #BFB48F;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}

/*------------------------------------------ MEDIA QUERIES -------------------------------------------*/

@media (max-width: 1599.98px)
{
  .my-logo
  {
    margin-left: 30px;
  }
  
  .navbar-collapse
  {
    margin-right: 30px;
  }
  
  .row-odd-left
  {
    padding: 0px 30px 0px 90px;
  }
  
  .row-even-right
  {
    padding: 0px 90px 0px 30px;
  }
  
  .row-text
  {
    padding: 0px;
  }
  
  .skills-items
  {
    padding: 0px 5vw 50px 5vw;
  }
  
  #portfolio
  {
    padding: 0px 30px 100px 30px;
  }
  
  #certificate
  {
    padding: 100px 50px 100px 50px;
  }
  
  .certificate-image
  {
    background-size: contain;
    box-shadow: 0px 0px 0px black;
  }
  
  .form-row
  {
    width: 70vw;
  }
}

@media (max-width: 1339.98px)
{
  .certificate-text
  {
    padding: 0;
  }
  
  .form-row
  {
    width: 80vw;
  }
}

@media (max-width: 1199.98px)
{
  /*----------------------------------------- NAVIGATION BAR -----------------------------------------*/
  #container .container-fluid
  {
    background-color: black;
    border-bottom: none;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  }
  
  .my-logo
  {
    margin-left: 0px;
  }
  
  .non-transparent-navbar
  {
    background-color: black;
  }
  
  .navbar
  {
    height: 60px !important;
  }

  .navbar-brand
  {
    font-size: 20px !important;
  }

  .my-logo
  {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .header-surname
  {
    height: 40px;
    line-height: 40px;
  }

  .navbar-collapse
  {
    font-size: 20px;
    margin-right: 0px;
  }
  
  .collapse.show
  {
    background-color: black;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  }
  
  .navbar-light .navbar-nav .nav-link
  {
    margin-left: 0px;
  }
  
  .navbar-nav
  {
    width: 100vw;
    position: absolute;
    background: black;
    margin-left: -30px;
  }
  
  .navbar-light .navbar-nav .nav-link:hover
  {
    color: #ACD7EC;
  }
  
  .navbar-light .navbar-nav .nav-link::after
  {
    content: "";
    width: 0%;
    position: absolute;
    display: block;
    height: 2px;
    background: transparent
    transition: all 0s ease 0s;
  }

  .navbar-light .navbar-nav .nav-link:hover::after
  {
    content:"";
    width: 0%;
  }
  
  /*----------------------------------------- LANDING PAGE -----------------------------------------*/
  
  .jumbotron.header
  {
    padding: 40vh 5vw 0px 5vw;
  }
  
  .header-top-line, .header-bottom-line
  {
    letter-spacing: 0px;
  }
  
  /*----------------------------------------- ABOUT ME -----------------------------------------*/

  .small-hidden
  {
    display: none;
  }
  
  .small-shown.large-hidden
  {
    display: block;
    margin: 30px auto 50px auto;
  }
  
  .row-odd-left, .row-odd-right, .row-even-left, .row-even-right
  {
    padding: 0px;
  }
  
  .row-header
  {
    margin: 0 auto 20px auto;
    padding: 0px 15px 0px 15px;
  }
  
  .row-odd, .row-even
  {
    margin-bottom: 100px;
  }
  
  .row-odd-right, .row-even-left
  {
    display: none;
  }
  
  .row-odd-left, .row-even-right
  {
    height: auto;
  }
  
  .section-header-container
  {
    padding: 100px 0 100px 0;
  }
  
  .svg-container
  {
    width: auto;
  }
  
  .row-text
  {
    padding: 0px 50px 0px 50px;
  }
  
  /*----------------------------------------- SKILLS -----------------------------------------*/
  
  #my-skills
  {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  
  .skills-items
  {
    padding: 0;
  }
  
  /*----------------------------------------- PORTFOLIO -----------------------------------------*/
  
  #portfolio
  {
    padding: 0px;
  }
  
  .portfolio-column
  {
    border: none;
    padding: 0px 50px 100px 50px;
  }
  
  .portfolio-item-header
  {
    padding-bottom: 10px;
  }
  .portfolio-item-text
  {
    padding-bottom: 30px;
    font-size: 16px;
  }
  
  /*----------------------------------------- CERTIFICATE -----------------------------------------*/
  
  #certificate
  {
    padding: 100px 0px 100px 0px;
  }
  
  .certificate-border
  {
    display: none;
  }
  
  .certificate-padding
  {
    padding: 0px;
  }
  
  /*----------------------------------------- CONTACT -----------------------------------------*/
  
  #contact
  {
    padding: 0px 0px 100px 0px;
  }
  
  /*----------------------------------------- FOOTER -----------------------------------------*/
  
  .footer-row-one, .footer-row-two
  {
    padding: 0px 30px;
  }
  
  .footer-link
  {
    margin: 50px 75px;
  }
  
  .footer-box:nth-child(2)
  {
    margin: 0px 50px;
  }
}

@media (max-width: 991.98px)
{
  .header-bottom-line
  {
    padding: 0px;
  }
  
  .ukw
  {
    background: url("../img/ukw-center.jpg") center no-repeat;
    max-width: 674px;
  }
  
  .pg
  {
    background: url("../img/pg-center.jpg") center no-repeat;
    max-width: 808px;
  }
  
  .certificate-image
  {
    background-size: contain;
    height: 50vw;
    box-shadow: 0px 0px 0px black;
  }
  
  .form-row
  {
    width: 80vw;
  }
  
  .footer-link
  {
    margin: 50px 50px;
  }
  
  .footer-row-two
  {
    display: block;
  }
  
  .footer-box
  {
    margin: 0 auto 25px auto;
  }
  
  .footer-box:nth-child(2)
  {
    margin: 0 auto 25px auto;
  }
  
  .footer-info
  {
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px)
{
  .row-text
  {
    padding: 0px 30px 0px 30px;
  }
  
  #my-skills
  {
    padding-bottom: 50px;
  }
  
  .skill-item
  {
    margin: 25px 50px;
  }
  
  .portfolio-column
  {
    padding: 0px 30px 100px 30px;
  }
  
  .footer-row-one
  {
    padding: 50px 15px;
  }
  
  .footer-link
  {
    margin: 0px 35px;
  }
}

@media (max-width: 575.98px)
{
  #move-up
  {
    display: none;
  }
  
  .header-surname
  {
    display: none;
  }
  
  .jumbotron.header
  {
    padding: 25vh 5vw 0px 5vw;
  }
  
  .header-top-line
  {
    font-size: 36px;
  }
  
  .header-bottom-line
  {
    font-size: 22px;
  }
  
  .skill-item
  {
    margin: 25px 25px;
  }
  
  #portfolio
  {
    padding: 0;
  }
  
  .portfolio-column
  {
    padding: 0 30px 100px 30px;
  }
  
  .section-header
  {
    width: auto;
  }
  
  #certificate
  {
    padding: 100px 0px 100px 0px;
  }
  
  .certificate-border
  {
    display:none;
  }
  
  .certificate-image
  {
    height: 82vw;
    background-size: contain;
  }
  
  .form-row
  {
    width: 90vw;
  }
  
  .contact-textarea
  {
    height: 250px;
  }
  
  .footer-row-one
  {
    justify-content: space-evenly;
    padding: 50px 15px 15px 15px;
  }
  
  .footer-link
  {
    margin: 0px 35px 35px 35px;
  }
}
