/*
color palette:
white - #BFB48F;
light blue - #ACD7EC;
lapis lazuli - #247BA0;
dark slate gray - #2F4858;
quinacridone magenta - #92374D;
*/
*:root
{
  font-size: 12px;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, rgba(47,72,88,0.7), rgba(255,255,255,0), rgba(47,72,88,0.7));
}

p
{
  margin: 0;
  padding: 0;
}

#container
{
  width: 100vw;
}

#move-up
{
  position: fixed;
  bottom: 30px;
  right: 40px;
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-icon
{
  width: 24px;
  height: 24px;
  margin-top: 0px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
}

#landing-page
{
  background-image: url("../img/landing-page-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  box-shadow: -4px 4px 4px rgba(0,0,0,0.4);
}

#container .container-fluid .navbar
{
  text-transform: uppercase;
  height: 100px;
}

#container .container-fluid
{
  border-bottom: 1px solid rgba(255,255,255,0.4);
  position: fixed;
  z-index: 1;
}

.non-transparent-navbar
{
  background-color: rgba(0,0,0,0.5);
}

.navbar-brand
{
  font-weight: 300;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.bold-surname
{
  font-weight: 700;
  padding-left: 20px;
}

.my-logo
{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(-90deg, #92374D, #6C2939);
  font-size: 36px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-left: 70px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.header-surname
{
  display: inline-block;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: white;
}

.navbar-expand-lg .navbar-collapse
{
  justify-content: flex-end;
  margin-right: 70px;
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link
{
  color: white;
  margin-left: 40px;
  padding-left: 0px;
  position: relative;
}

.navbar-light .navbar-nav .nav-link:hover
{
  color: white;
}

.navbar-light .navbar-nav .nav-link::after
{
  content: "";
  width: 0%;
  position: absolute;
  display: block;
  height: 2px;
  background: linear-gradient(to right, #92374D, #247BA0);
  transition: width 150ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::after
{
  content:"";
  width: 96%;
}

.navbar-light .navbar-nav .nav-link:active
{
  color: #ACD7EC;
}

.navbar-light .navbar-nav .nav-link:focus
{
  color: #92374D;
}

.navbar-light .navbar-nav .nav-link.active
{
  color: #ACD7EC;
}

.navbar-light .navbar-nav .nav-link.active::after
{
  display: none;
}

.jumbotron.header
{
  background: transparent;
  text-align: center;
  border: none;
  border-radius: 0;
  padding: 40vh 100px 0px 100px;
}

.header-top-line
{
  font-size: 48px;
  color: white;
  font-weight: 300;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

.header-bottom-line
{
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  padding: 0px 10vw 0px 10vw;
}

/*------------------------ ABOUT ME ------------------------*/

#about
{
  min-height: 100vh;
  background-image: url("../img/about-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-header-container
{
  padding: 100px 10vh 100px 10vh;
}

.well.about-header
{
  width: 320px;
  margin: 0 auto 0 auto;
  display: block;
  background-image: url("../img/about-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

/*------------------------ ABOUT ME LINE ONE ------------------------*/

.about-line-one
{
  margin-bottom: 40px;
}

.row-one-left, .row-one-right
{
  height: 500px;
}

.row-one-left
{
  padding-left: 100px;
  padding-right: 20px;
}

.row-one-right
{
  padding-right: 100px;
  padding-left: 20px;
}

.row-one-header
{
  width: 100%;
}

.well.about-story
{
  font-size: 20px;
  color: #2F4858;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin: 80px auto 20px auto;
  padding: 0px 65px 0px 65px;
  text-align: center;
}

.svg-pencil
{
  margin-top: -5px;
}

.svg-story-container
{
  width: 400px;
  height: 50px;
  margin: 0 auto 20px auto;
  display: block;
  background-image: url("../img/about-line-one-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.about-text
{
  width: 100%;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  padding: 0px 65px 0px 65px;
  text-align: justify;
}

.me-avatar
{
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*------------------------ ABOUT ME LINE TWO ------------------------*/

.about-line-two
{
  margin-bottom: 40px;
}

.row-two-left, .row-two-right
{
  height: 500px;
}

.row-two-right
{
  padding-right: 100px;
  padding-left: 20px;
}

.row-two-left
{
  padding-left: 100px;
  padding-right: 20px;
}

.row-two-header
{
  width: 100%;
}

.well.about-university
{
  font-size: 20px;
  color: #2F4858;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin: 80px auto 20px auto;
  padding: 0px 65px 0px 65px;
  text-align: center;
}

.svg-graduation
{
  margin-top: 5px;
}

.svg-university-container
{
  width: 400px;
  height: 50px;
  margin: 0 auto 20px auto;
  display: block;
  background-image: url("../img/about-line-two-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.ukw
{
  height: 501px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*------------------------ ABOUT ME LINE THREE ------------------------*/

.about-line-three
{
  padding-bottom: 100px;
}


.row-three-left, .row-three-right
{
  height: 500px;
}

.row-three-left
{
  padding-left: 100px;
  padding-right: 20px;
}

.row-three-right
{
  padding-right: 100px;
  padding-left: 20px;
}

.row-three-header
{
  width: 100%;
}

.well.about-electronics
{
  font-size: 20px;
  color: #2F4858;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin: 80px auto 20px auto;
  padding: 0px 65px 0px 65px;
  text-align: center;
}

.svg-gear
{
  margin-top: 0px;
}

.svg-electronics-container
{
  width: 400px;
  height: 50px;
  margin: 0 auto 20px auto;
  display: block;
  background-image: url("../img/about-line-one-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.pg
{
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*------------------------ ABOUT ME MY SKILLS ------------------------*/

#my-skills
{
  min-height: 620px;
  border-top: 10px solid #92374D;
  background: linear-gradient(to right, rgba(4,17,23,1), rgba(6,29,39,1), rgba(4,17,23,1));
  box-shadow: -4px 4px 4px rgba(0,0,0,0.4);
}

.well.skills-header
{
  margin: 100px auto 0px auto;
}

.well.skills-text
{
  font-size: 20px;
  color: #BFB48F;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin: 80px auto 20px auto;
  padding: 0px 65px 0px 65px;
  text-align: center;
}

.svg-skills-container
{
  width: 400px;
  height: 50px;
  margin: 0 auto 20px auto;
  display: block;
  background-image: url("../img/my-skills-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.well.skills-items
{
  padding: 0px 10vw 50px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.well.skills-items > img
{
  height: 100px;
  margin: 50px 75px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4));
}

/*------------------------ PORTFOLIO ------------------------*/

#portfolio
{
  min-height: 100vh;
  background-image: url("../img/portfolio-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.portfolio-header-container
{
  padding: 100px 10vh 100px 10vh;
}

.well.portfolio-header
{
  width: 320px;
  margin: 0 auto 0 auto;
  display: block;
  background-image: url("../img/portfolio-line.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #247BA0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
